.header {
    margin-top: 150px;
    max-width: 1280px;
    margin-inline: auto;
    min-height: 100svh;

    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
}

.heading {
    font-size: 90px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    max-width: 17ch;
    text-align: left;
}

.openAccount {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;

    padding: 30px;
    margin-top: 60px;
    max-width: 167px;

    border-radius: 29px;
    background: #ebdd51;
}
