.talk {
    min-height: 90svh;
    position: relative;
}

.talkWrapper {
    position: relative;
    max-width: 1129px;
    max-height: 566px;

    margin-inline: auto;
}

.talkWrapper img {
    position: absolute;
    left: 0;
}

.text {
    position: absolute;
    right: 0;
    top: 170px;

    max-width: 527px;
}

.textWrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: start;
}

.textWrapper h1 {
    margin-top: 32px;
    margin-bottom: 40px;

    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    text-align: left;
}

.textWrapper button {
    color: #fff;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 112.5% */

    max-width: 156px;

    border-radius: 21px;
    background: #7165e2;

    padding: 20px;
}

.textBlur1 {
    position: absolute;

    border-radius: 311px;
    opacity: 0.15;
    background: #8072ff;
    filter: blur(75px);

    width: 311px;
    height: 311px;
    flex-shrink: 0;
}

.textBlur2 {
    position: absolute;
    left: -110px;
    top: 0;

    border-radius: 311px;
    opacity: 0.15;
    background: #f9e94d;
    filter: blur(60px);

    width: 223px;
    height: 224px;
    flex-shrink: 0;
}

@media only screen and (max-width: 600px) {
    .talk {
        margin-inline: auto;
        min-height: 100svh;
        max-width: 90vw;

        align-items: center;
    }

    .talkWrapper img {
        max-width: 90vw;
    }

    .text {
        top: 300px;
    }
}
